*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
@font-face{
    font-family: "IslandMoments-Regular" ;
    src: url(../assets/font/IslandMoments-Regular.ttf)
  
    
}
@font-face{
    font-family: "Shalimar-Regular" ;
    src: url(../assets/font/Shalimar-Regular.ttf)
    
}
body{
    font-family:"IslandMoments-Regular" ;
    font-size: 14px;
}
h1,h2,h3,h4{

    font-family: "Shalimar-Regular";
    font-size: 3em;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(29, 28, 28);
    background-color: beige;
    opacity: 0.8;
}
.logo1{
    width: 6em;
    border-radius: 50%;
    float:right
    

}

.logo2{
    width: 4em;
    border-radius: 50%;

}
.e404{
  size-adjust: auto auto;
}
.contacto{
    font-size: 2em;
    text-decoration:none;
}

